body{
	background-color: black;
	color: #ffffff;
  	font: 300 22px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-align: center;
}

/* unvisited link */
a:link {
    color: #e1b509;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

.hidden{
	display: none;
}

.artist{
	width:600px;
	margin:20px auto;
	height:268px;
	padding: 5px;
}

.artist-name{
	min-height:25px;
	background-color: green;
	border-radius: 5px;
	padding: 5px;
}

.column{
	width:48%;
	height:82%;
	float:left;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
}

.cover{
	//background-color: blue;
}

.top-ten{
	background-color: green;
	float: right;
	font-size: 10px;
	text-align: left;
}

#input-search{
	padding:11px 30px;
	border-radius: 5px;
	font-size: 18px;
	color: gray;
}

.search-box{
	margin: 10px;
}

.button-default {
	border: 0;
	border-radius: 5px;
	background: green;
	padding:11px 30px;
	color: white;
	margin: 10px 10px;
	font-size: 18px;
}

#results{
	display: none;
}